<%= form_for(@harvest) do |f| %>

	<%= f.hidden_field :plant_id, value: @plant.id %>

	<% if @harvest.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@harvest.errors.count, "error") %> prohibited this Harvest from being saved:</h2>
			<ul>
				<% @harvest.errors.full_messages.each do |message| %>
					<p><%= message %></p>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :"Weight (in ounces)" %><br>
	<%= f.text_field :weight %><br>

	<%= f.label :"Harvest Date" %><br>
	<%= f.date_field :harvest_date %><br>

	<br>
	<br>
	<%= f.submit %>

<% end %>

<p>Change Your Mind?</p>
<h5><%= link_to "Back to Your Plants", plants_path %></h5> 