<h2>Edit Your Harvest</h2>
<%= form_for(@harvest) do |f| %>

   

    <%= f.label :"Weight (in ounces)" %><br>
    <%= f.text_field :weight %><br>

    <%= f.label :"Harvest Date" %><br>
    <%= f.date_field :harvest_date %><br>

    <%= f.hidden_field :plant_id, value: @plant.id %> 
    <br>
    <br>
    <%= f.submit %>

<% end %>

<p>Change Your Mind?</p>
<h5><%= link_to "Back to Your Plant", plant_path(@plant) %></h5>