<h1>Harvest Details</h1>

<p> Harvest Yield in Ounces: <%= @harvest.weight %></p>
<p> Grow Bed: <%= @harvest.plant.bed.name %></p>
<p> Source Plant: <%= @harvest.plant.variety %></p>
<br>
<p><%= link_to "Edit This Harvest", edit_plant_harvest_path(@plant, @harvest) %></p>

<h5><% link_to "Add a New harvest for a plant", new_plant_harvest_path(@harvest.plant) %></h5>
<section class = "footer">
<h5><%= link_to "Go Back to #{@plant.variety}", @plant %></h5>
<h5><%= link_to "Go to Your Beds", beds_path %></h5>
</section>