<h1>Here Are All Your Plants</h1>

<table class="center">
    <thead>
        <tr>
            <th>Varietal Name</th>
            <th>Bed</th>
            <th>Harvests</th>
        </tr>
    </thead>
    <tbody>

        <% @plants.each do |plant|%>
            <tr>
                <td><%= link_to plant.variety, plant_path(plant)  %></td>
                <td><%= link_to plant.bed.name, bed_path(plant.bed) %></td>
                <% if plant.harvests.count > 0 %>
                    <td><%= plant.yield_amount %> oz.</td>
                <% else %>
                    <td><%= "0.0 oz." %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>



<!-- <h2>Your 3 Most Recent Harvests</h2>

<% @harvested_plants.each do |plant|  %>

<p> <%= link_to plant.variety, plant_path(plant) %></p>

<%end  %> --> 

<!-- <h2>Plants Alphabetically</h2>

<% @ordered_plants.each do |plant|  %>

<p> <%= link_to plant.variety, plant_path(plant) %></p>

<%end  %> -->

<!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                        <!-- style="background-image: url(/images/basil.jpg) -->
                            <img class="img-fluid" src="/images/basil.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="centered project-name"><h3>Total Plants:</h3> <p><%= @plants.count%></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <img class="img-fluid" src="/images/microgreens.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="centered project-name"><h3>Plants Harvested: </h3><p><%= @harvested_plants.count%></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <img class="img-fluid" src="/images/peppers.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="centered project-name"><h3>Plants Harvested: </h3><p><%= @harvested_plants.count%></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <img class="img-fluid" src="/images/seedling2.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="centered project-name"><h3>Plants Harvested: </h3><p><%= @harvested_plants.count%></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <img class="img-fluid" src="/images/tomatoes.jpg" alt="" />
                            <div class="portfolio-box-caption">
                                <div class="centered project-name"><h3>Plants Harvested: </h3><p><%= @harvested_plants.count%></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-box">
                            <img class="img-fluid" src="/images/seedlings.jpg" alt="" />
                            <div class="portfolio-box-caption p-3">
                                <div class="centered project-name"><h3>Plants Harvested: </h3><p><%= @harvested_plants.count%></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<section class = "footer">
<p>
    <%= link_to "Grow a New Plant!", new_plant_path %>  
    <%= link_to "Go to Your Beds", beds_path %>
</p>
</section>