<h2>Add a New Plant</h2>
<%= form_for(@plant) do |f| %>

    <%= f.label :"Varietal Name" %><br>
    <%= f.text_field :variety %><br>

    <%= f.label :Nickname %><br>
    <%= f.text_field :nickname %><br>

    <%= f.label :Species %><br>
    <%= f.text_field :species %><br>
  
    <%= f.label :Description %><br>
    <%= f.text_area :description %><br>

    <%= f.label :"Germination Date" %><br>
    <%= f.date_field :germination_date %><br>

    <%= f.label :"Transplant Date" %><br>
    <%= f.date_field :transplant_date %><br>
    <br>
    <% if @bed  %>
        <%= f.hidden_field :bed_id, value: @bed.id %>
    <% else  %>
        <%= f.label :"Select a Grow Bed" %><br>
        <%= f.collection_select :bed_id, Bed.all, :id, :name, {:include_blank => "Please select"} %><br>
            <br>
            OR
            <br>
            <%= f.fields_for :bed, @newbed do |bf| %>
                <%= bf.label "Create a New Grow Bed" %><br>
                <%= bf.text_field :name %><br>
            <% end  %>

    <% end  %>
    <br>
    <br>
    <%= f.submit %>

<% end %>

<p>Change Your Mind?</p>
<h5><%= link_to "Back to Your Plants", plants_path %></h5>