<%= form_for(@bed) do |f| %>

   <% if @bed.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@bed.errors.count, "error") %> prohibited this Bed from being saved:</h2>
        <ul>
            <% @bed.errors.full_messages.each do |message| %>
            <p><%= message %></p>
            <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.label :Name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :Location %><br>
    <%= f.text_field :location %><br>

    <%= f.label :"Size (sq ft)" %><br>
    <%= f.text_field :size %><br>
  
    <%= f.label :"Grow Medium" %><br>
    <%= f.collection_select :medium, Bed.select(:medium).distinct, :medium, :medium, {:include_blank => "Please select"} %>
    <br>
    <br>
    <%= f.submit %>
<% end %>
