<h2>Add a New Grow Bed</h2>

<%= form_for(@bed) do |f| %>
   
    <%= f.label :Name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :Location %><br>
    <%= f.text_field :location %><br>

    <%= f.label :"Size (sq ft)" %><br>
    <%= f.text_field :size %><br>
  
    <%= f.label :"Grow Medium" %><br>
    <%= f.collection_select :medium, Bed.select(:medium).distinct, :medium, :medium, {:include_blank => "Please select"} %>
    <br>
    <br>
    <%= f.fields_for @plant do |pf| %>
        <%= pf.label :"Please enter the varietal name of the first plant for this Bed:" %><br><br>
        

        <%= pf.label :"Varietal Name" %><br>
        <%= pf.text_field :variety %><br>
    <% end %>
  
    <br>
    <br>
    <%= f.submit %>

<% end %>



<p>Change Your Mind?</p>
<h5><%= link_to "Back to Your Beds", beds_path %></h5>

