<h1>Grow Bed Name: <%= @bed.name %></h1>
<h2> Bed Details</h2>
<p> <strong> Location: </strong><%= @bed.location if @bed.location %></p>
<p> <strong> Size (in sq. ft.): </strong><%= @bed.size if @bed.size %></p>
<p> <strong> Grow Medium: </strong><%= @bed.medium if @bed.medium %></p>


<h4><%= link_to "Edit This Grow Bed", edit_bed_path(@bed) %></h4>

<h2>Plants in this Bed</h2>
<% @bed.plants.each do |plant| %>
  
    <p><%= link_to plant.variety, bed_plant_path(@bed, plant) %> </p>

<% end %>
<h5><%= link_to "Add a New Plant to this Bed", new_bed_plant_path(@bed) %></h5>


<section class = "footer">
<h5><%= link_to "Back to Your Beds", beds_path %></h5>

<h5><%= link_to "Go to Your Plants", plants_path %></h5> 
</section>